# docker-compose.yml
version: "3.9"
services:
  ml-service:
    build:
      context: .
      dockerfile: Dockerfile
      shm_size: '6gb'
    container_name: ml-service
    ports:
      - '8080:8080'
    env_file:
      - '.env'
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert_rules.yml:/etc/prometheus/alert_rules.yml
    networks:
      - monitoring
    depends_on:
      - ml-service

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - monitoring
    depends_on:
      - prometheus

  alertmanager:
      image: prom/alertmanager:latest
      container_name: alertmanager
      ports:
        - "9093:9093"
      volumes:
        - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
      networks:
        - monitoring

networks:
  monitoring:
    driver: bridge