global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "ml_service"
    static_configs:
      - targets: ["ml-service:8080"]

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093